@import url("vendor/add-to-homescreen/style/add2home.css");
@import url("vendor/leaflet/leaflet.css");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
}

#map, #settings {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
}

#settings {
  z-index: 1000;
}

button {
  height: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #CCC;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

/*
 * Buttons
 */

.btn {
  padding: 0 10px;
  line-height: 40px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  color: #fff;
  background-color: #4a6c9b;
  background-image: linear-gradient(top, #8ea4c1, #4a6c9b);
  background-image: -webkit-linear-gradient(top, #8ea4c1, #4a6c9b);
  background-image: -moz-linear-gradient(top, #8ea4c1, #4a6c9b);
  border-color: #45505d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
}

.btn.active,
.btn:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #4a6c9b;
  background-image: none;
}

.horizontal-btn-group .btn:first-child,
.horizontal-btn-group .btn + .btn:not(:last-child) {
  float: left;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.horizontal-btn-group .btn:last-child,
.horizontal-btn-group .btn + .btn {
  float: left;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vertical-btn-group .btn:first-child,
.vertical-btn-group .btn + .btn:not(:last-child) {
  float: none;
  width: 100%;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.vertical-btn-group .btn:last-child,
.vertical-btn-group .btn + .btn {
  float: none;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn[disabled] {
  background-color: #8ea4c1;
  background-image: none;
  color: #e6e6e6;
  box-shadow: none;
}

.btn-group {
  overflow: hidden;
}

/*
 * Map view
 */

#map button {
  margin: 7px;
  width: 40px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #5BB75B;
}

#map button:focus {
  outline: none;
}

.locate-button {
  background-image: url(arrow2x.png);
  background-image: url(arrow2x.png), linear-gradient(top, #62C462, #51A351);
  background-image: url(arrow2x.png), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(arrow2x.png), -moz-linear-gradient(top, #62C462, #51A351);
  background-size: 25px 25px, 100%;
}

.settings-button {
  background-image: url(gear2x.png);
  background-image: url(gear2x.png), linear-gradient(top, #62C462, #51A351);
  background-image: url(gear2x.png), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(gear2x.png), -moz-linear-gradient(top, #62C462, #51A351);
  background-size: 25px 25px, 100%;
}

.busy-button {
  background-image: url(loading.gif);
  background-image: url(loading.gif), linear-gradient(top, #62C462, #51A351);
  background-image: url(loading.gif), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(loading.gif), -moz-linear-gradient(top, #62C462, #51A351);
  background-size: 25px 25px, 100%;
}

.bump {color:red}

/*
 * Settings view
 */

#settings {
  display: none;
  background-color: #cbd2d8;
}

.settings #settings {
  display: block;
}

header, section {
  max-width: 300px;
}

header {
  margin: 0 auto;
  background: #6f85a3;
  background-image: linear-gradient(top, #a8b5c7, #6f85a3);
  background-image: -webkit-linear-gradient(top, #a8b5c7, #6f85a3);
  background-image: -moz-linear-gradient(top, #a8b5c7, #6f85a3);
  border-bottom: 1px solid #000;
  padding: 8px;
  text-align: right;
}

header .btn {
  height: 30px;
  line-height: 30px;
  font-size: 80%;
}

@media all and (max-width: 320px) {
  header {
    max-width: none;
  }
}

section {
  overflow: hidden;
  margin: 10px auto;
  display: block;
  border: 1px solid #a1a7ae;
  border-radius: 8px;
  padding: 0 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #f7f7f7;
  box-shadow: inset 0 1px rgba(0, 0, 0, .08), 0 1px rgba(255, 255, 255, .81);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, .08), 0 1px rgba(255, 255, 255, .81);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, .08), 0 1px rgba(255, 255, 255, .81);
}

.map-type button {
  width: 33.33%;
}

.offline button,
.offline progress {
  width: 100%;
}

.offline p {
  text-align: center;
}
