@import url("/node_modules/add-to-homescreen/dist/style/addtohomescreen.css");
@import url("/node_modules/leaflet/dist/leaflet.css");
@import url("/node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css");

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  color: #333;
  background: #f7f7f7;
}

/*
 * Page structure
 */

.map {
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  bottom: 0;
}

.page {
  position: absolute;
  top:0;
  right: 0;
  height: 100%;
  background: #cbd2d8;
  z-index: 1000;
  min-width: 250px;
  left: 0px;
}

@media all and (min-width: 400px) {
  .page {
    left: auto;
    width: 300px;
    border-left: 1px solid #a2a7ad;
    box-shadow: -2px 0 5px 0 #8c8c8c;
  }
}

header {
  background: #6f85a3;
  background-image: linear-gradient(top, #a8b5c7, #6f85a3);
  background-image: -webkit-linear-gradient(top, #a8b5c7, #6f85a3);
  background-image: -moz-linear-gradient(top, #a8b5c7, #6f85a3);
  border-bottom: 1px solid #000;
  padding: 8px;
  text-align: right;
  position: absolute;
  top:0;
  right: 0;
  left: 0;
}

header .btn {
  height: 30px;
  line-height: 30px;
  font-size: 80%;
}

section {
  display: block;
  padding: 0 10px;
  position: absolute;
  top: 47px; /* height of the header */
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
}

/*
 * General controls
 */

button,
input,
select {
  height: 40px;
  min-width: 40px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #CCC;
  outline: none;
  margin: 0;
  color: #333;
}

button {
  font-size: 16px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

input, select {
  font-size: 16px;
  padding: 4px;
}

/*
 * Settings buttons
 */

.btn {
  padding: 0 10px;
  line-height: 40px;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
  color: #fff;
  background-color: #4a6c9b;
  background-image: linear-gradient(top, #8ea4c1, #4a6c9b);
  background-image: -webkit-linear-gradient(top, #8ea4c1, #4a6c9b);
  background-image: -moz-linear-gradient(top, #8ea4c1, #4a6c9b);
  border-color: #45505d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25), 0 1px 0 rgba(255, 255, 255, 0.25);
}

.btn.active,
.btn:active {
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #4a6c9b;
  background-image: none;
}

.horizontal-btn-group .btn:first-child,
.horizontal-btn-group .btn + .btn:not(:last-child) {
  float: left;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.horizontal-btn-group .btn:last-child,
.horizontal-btn-group .btn + .btn {
  float: left;
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.vertical-btn-group .btn:first-child,
.vertical-btn-group .btn + .btn:not(:last-child) {
  float: none;
  width: 100%;
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}

.vertical-btn-group .btn:last-child,
.vertical-btn-group .btn + .btn {
  float: none;
  width: 100%;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn[disabled] {
  background-color: #8ea4c1;
  background-image: none;
  color: #e6e6e6;
  box-shadow: none;
}

.btn-group {
  overflow: hidden;
}

/*
 * Flat horizontal button group
 */ 
.flat-btn {
  font: inherit;
}

.flat-horizontal-btn-group {
  display: inline-flex;
}

.flat-btn.active,
.flat-btn:active {
  background-color: #e0e0e0;
}

.flat-horizontal-btn-group .flat-btn:first-child,
.flat-horizontal-btn-group .flat-btn + .flat-btn:not(:last-child) {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.flat-horizontal-btn-group .flat-btn:last-child,
.flat-horizontal-btn-group .flat-btn + .flat-btn {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/*
 * Radio control group
 */

.control-group-title {
  font-size: inherit;
  margin: 12px 11px -2px 11px;
  color: #313f57;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

.control-group {
  border-radius: 4px;
  border: 1px solid #a2a7ad;
  background: #fff;
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
}

.radio-btn {
  display: block;
  border-radius: 0;
  background: transparent;
  width: 100%;
  border: 0;
  font: inherit;
  font-weight: bold;
  text-align: left;
  padding: 9px 10px;
  border-top: 1px solid #a2a7ad;
  position: relative;
}

.radio-btn:hover {
  background: #ededed;
}

.radio-btn:active {
  background: #e8e8e8;
}

.radio-btn[disabled] {
  color: #ccc;
}

.radio-btn.active {
  color: #1b5586;
}

.radio-btn.active:after {
  content: '✓';
  font-size: 20px;
  line-height: 21px;
  position: absolute;
  right: 12px;
  color: #333;
}

.radio-btn:first-child {
  border-top: 0;
}

/*
 * Map view
 */

.leaflet-control-container .leaflet-control {
  margin: 7px;
}

.map-button {
  width: 40px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #5BB75B;
  background-size: 25px 25px, 100%;
}

.locate-button {
  background-image: url(arrow2x.png);
  background-image: url(arrow2x.png), linear-gradient(top, #62C462, #51A351);
  background-image: url(arrow2x.png), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(arrow2x.png), -moz-linear-gradient(top, #62C462, #51A351);
}

.layers-button {
  background-image: url(layers.svg);
  background-image: url(layers.svg), linear-gradient(top, #62C462, #51A351);
  background-image: url(layers.svg), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(layers.svg), -moz-linear-gradient(top, #62C462, #51A351);
}

.busy-button {
  background-image: url(loading.gif);
  background-image: url(loading.gif), linear-gradient(top, #62C462, #51A351);
  background-image: url(loading.gif), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(loading.gif), -moz-linear-gradient(top, #62C462, #51A351);
}

.directions-button {
  background-image: url(directions.svg);
  background-image: url(directions.svg), linear-gradient(top, #62C462, #51A351);
  background-image: url(directions.svg), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(directions.svg), -moz-linear-gradient(top, #62C462, #51A351);
}

.directions-active-button {
  background-image: url(directions-active.svg);
  background-image: url(directions-active.svg), linear-gradient(top, #62C462, #51A351);
  background-image: url(directions-active.svg), -webkit-linear-gradient(top, #62C462, #51A351);
  background-image: url(directions-active.svg), -moz-linear-gradient(top, #62C462, #51A351);
}

.delete-button {
  background-image: url(delete.svg);
}

.close-button {
  background-image: url(close.svg);
}

.export-button {
  background-image: url(export.svg);
}

.settings-button {
  background-image: url(settings.svg);
}

.my-location-icon {
  box-shadow: 0 0 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: rgb(38, 126, 202);
}

.route-start-icon {
  box-shadow: 0 0 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #5BB75B;
}

.route-waypoint-icon {
  box-shadow: 0 0 5px;
  border: 3px solid #fff;
  border-radius: 50%;
  background: #666;
}

.flickr-logo {
  display: inline-block;
  width: 49.5px;
  height: 15px;
  background-size: 100%;
  background-image: url(flickr-logo.png);

  /* hide text */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.flickr-icon {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url(flickr@2x.png);
  /* add shadow */
  box-shadow: 0 0 5px;
  border-radius: 50px;
}

/*
 * Search
 */

.search-control {
  clear: none;
  width: 200px;
}

.search-input-wrapper {
  position: relative;
}

.search-input {
  width: 100%;
  padding-right: 40px;
  /* remove inner shadow, rounder borders and friends on iOS */
  -webkit-appearance: none;
}

.search-button {
  visibility: hidden;
  position: absolute;
}

.search-clear {
  position: absolute;
  right: 0;
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
}

.search-results {
  display: none;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  margin: 0;
  padding: 0;
  background: #fff;
  list-style-type: none;

  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: 1px solid #CCC;

  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.search-result {
  padding: 5px;
  height: 40px;
  line-height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-top: 1px solid #CCC;
  cursor: pointer;
}

.search-result:first-child {
  border-top: 0;
}

.show-results .search-results {
  display: block;
}

.show-results .search-input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*
 * Settings view
 */

#settings {
  display: none;
}

.settings #settings {
  display: block;
}

.map-type button {
  width: 33.33%;
}

/** Photo popup */

.photo-popup .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.photo-popup .photo {
  margin: 5px 0;
}

.photo-popup .owner {
  float: right;
}

/*
 * Routing
 */

 /** Do not show itinerary for now */
.leaflet-routing-container {
  display: none;
}

/*
 * Routing panel view
 */
.routing-panel {
  display: none;
}

.routing-panel-active .routing-panel {
  display: block;
}

.routing-panel-active .map {
  bottom: 51px;
}

.routing-panel {
  background: #fff;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 51px;
  padding: 5px 7px;
  border-top: 1px solid #ccc;
}

.routing-panel-stats {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.routing-panel-elevation {
  font-size: 12px;
}

.routing-panel-close-button {
  position: absolute;
  right: 7px;
}

@media all and (max-width: 385px) {
  .routing-vehicle-select {
    width: 80px;
  }
}

@media all and (max-width: 520px) {
  .routing-vehicle-buttons {
    display: none;
  }
}

@media all and (min-width: 520px) {
  .routing-vehicle-select {
    display: none;
  }
}
